{% extends 'user/layout/members.html.twig' %}
{% set division = app.user.division.name %}

{% block scripts %}
    {{ parent() }}
    <script>
        const otherAmountInput = document.getElementById("contribution_income_otherAmount");
        otherAmountInput.disabled = !otherAmountRadio.checked;
    </script>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1>Automatische incasso</h1>

        {% if app.user.contributionPaidAutomatically %}
            <p>
                Je contributie wordt momenteel {{ { 0: 'elke maand', 1: 'elk kwartaal', 2: 'elk jaar' }[app.user.contributionPeriod] }} automatisch afgeschreven via Mollie.
            </p>
            <p>
                Wil je de automatische incasso stopzetten, en in plaats daarvan je contributie handmatig betalen? Klik dan op deze knop.
            </p>
            <a href="{{ url('member_contribution_automatic_collection_disable') }}" class="button">Automatische incasso stopzetten</a>
        {% else %}
            <p>
                Contributie zal elk kwartaal automatisch van je rekening afgeschreven worden via automatisch incasso.
                Hoeveel je hierbij betaalt hangt af van je inkomen:
            </p>

            {% if division in ["Utrecht", "Nijmegen", "Arnhem", "Noord", "West-Brabant", "Zuid-Holland-West", "Arnhem", "Wageningen"] %}
            {% if division not in ["Utrecht", "Oost-Brabant", "Noord", "Nijmegen"] %}
                <p>Je afdeling heeft nog geen contributieregeling. De contributieregeling van Utrecht is:</p>
            {% endif %}
            <table class="table">
                <tbody>
                    <tr>
                        <td>Studenten en werklozen</td>
                        <td>Minimaal €9 per kwartaal</td>
                    </tr>
                    <tr>
                        <td>Werkenden</td>
                        <td>0,5% van het inkomen (minimaal €15 per kwartaal)</td>
                    </tr>
                </tbody>
            </table>
            {% elseif division == "Amsterdam" %}
            <ul>
              <li>15 euro per kwartaal (optioneel meer)</li>
            </ul>
            {% elseif division == "Rotterdam" %}
            <ul>
              <li>Minimaal 3 euro per kwartaal</li>
            </ul>
            {% elseif division in ["Overijssel"] %}
            <ul>
              <li>Minimaal 7,50 euro per kwartaal</li>
            </ul>
            {% elseif division == "Oost-Brabant" %}
            <ul>
              <li>3, 9, 15, 30, 45 per kwartaal, met 15 euro als standaard.</li>
            </ul>
            {% endif %}
            {% if form.vars.submitted and not form.vars.valid %}
                <div class="error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <p>
                Selecteer wat er voor jou van toepassing is:
            </p>
            {{ form_start(form, { attr: { class: 'incomes' }}) }}
                {{ form_row(form._token) }}

                {{ form_row(form.contributionAmount) }}

                <button type="submit" class="button submit-button">Automatische incasso instellen</button>
                {{ form_end(form, {render_rest: false}) }}
        {% endif %}
    </div>
{% endblock %}
