{% extends 'user/layout/members.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script>
        const otherAmountInput = document.getElementById("contribution_income_otherAmount");
        const otherAmountRadio = document.getElementById("form_contributionAmount_{{ form.contributionAmount.vars.choices | length }}");
        otherAmountInput.disabled = !otherAmountRadio.checked;

        for (var i = 1; i <= {{ form.contributionAmount.vars.choices | length }}; i++) {
            document.getElementById("form_contributionAmount_" + i).addEventListener("input", (event) => {
                otherAmountInput.disabled = !otherAmountRadio.checked;
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1>Automatische incasso</h1>

        {% if app.user.contributionPaidAutomatically %}
            <p>
                Je contributie wordt momenteel {{ { 0: 'elke maand', 1: 'elk kwartaal', 2: 'elk jaar' }[app.user.contributionPeriod] }} automatisch afgeschreven via Mollie.
            </p>
            <p>
                Wil je de automatische incasso stopzetten, en in plaats daarvan je contributie handmatig betalen? Klik dan op deze knop.
            </p>
            <a href="{{ url('member_contribution_automatic_collection_disable') }}" class="button">Automatische incasso stopzetten</a>
        {% else %}
            <p>
                Contributie zal elk kwartaal automatisch van je rekening afgeschreven worden via automatisch incasso.
                Hoeveel je hierbij betaalt hangt af van je inkomen:
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Maandinkomen</th>
                        <th>Contributie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tot en met €2000</td>
                        <td>€7,50 per kwartaal (€2,50 per maand)</td>
                    </tr>
                    <tr>
                        <td>€2000-€3499</td>
                        <td>€15,00 per kwartaal (€5 per maand)</td>
                    </tr>
                    <tr>
                        <td>€3500 en daarboven</td>
                        <td>€22,50 per kwartaal (€7,50 per maand)</td>
                    </tr>
                </tbody>
            </table>

            {% if form.vars.submitted and not form.vars.valid %}
                <div class="error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <p>
                Selecteer wat er voor jou van toepassing is:
            </p>
            {{ form_start(form, { attr: { class: 'incomes' }}) }}
                {{ form_row(form._token) }}

                <div class="choices">
                    {% for option in form.contributionAmount %}
                        <div class="choice">
                            {{ form_widget(option) }}
                            <div class="choice-text">
                                {{ form_label(option, null, { required: false }) }}
                                {% if option.vars.value == 0 %}
                                    <br />
                                    {{ form_widget(form.otherAmount, { attr: { class: 'other-amount' } }) }} per kwartaal
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button type="submit" class="button submit-button">Automatische incasso instellen</button>
                {{ form_end(form, {render_rest: false}) }}
        {% endif %}
    </div>
{% endblock %}
