{% extends 'user/layout/members.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script>
        function updateContribution() {
            let other = document.querySelector('.other-amount');
            if (document.querySelector('.choice :checked').value !== 0) {
                other.value = '';
            }
        }
        function updateOtherAmount() {
            let other = document.querySelector('.other-amount');
            if (other.value != '')
            {
                document.querySelector('.choice [value="0"]').checked = true;
            }
        }
        document.addEventListener('change', e => {
            if (e.target.closest) {
                if (e.target.closest('.other-amount')) {
                    updateOtherAmount();
                } else if (e.target.closest('.choices')) {
                    updateContribution();
                }
            }
        })
    </script>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1>Automatische incasso</h1>
        <p>
            Contributie zal elk{{ { 0: 'e maand', 1: ' kwartaal', 2: ' jaar'}[app.user.contributionPeriod] }} automatisch van je rekening afgeschreven worden via automatisch incasso.
            Hoeveel je hierbij betaalt hangt af van je inkomen.
        </p>

        {% if contribution.tiers|length > 2 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Maandinkomen</th>
                    <th>Contributie</th>
                </tr>
            </thead>
            <tbody>
                {% for tier in contribution.tiers %}
                    {% if tier.amount is not same as(null) %}
                    <tr>
                        <td>{{ tier.description }}</td>
                        <td>€{{ (tier.amount / 100)|number_format(2, ',') }} per {{ { 0: 'maand', 1: 'kwartaal', 2: 'jaar'}[app.user.contributionPeriod] }} (€{{ (tier.amount / 100 / 3)|number_format(2, ',') }} per maand)</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if form.vars.submitted and not form.vars.valid %}
            <div class="error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <p>
            Selecteer wat er voor jou van toepassing is:
        </p>
        {{ form_start(form, { attr: { class: 'incomes' }}) }}
            {{ form_row(form._token) }}

            <div class="choices">
                {% for option in form.contributionAmount %}
                    <div class="choice">
                        {{ form_widget(option) }}
                        <div class="choice-text">
                            {{ form_label(option, null, { required: false }) }}
                            {% if option.vars.value == 0 %}
                                <br />
                                {{ form_widget(form.otherAmount, { attr: { class: 'other-amount' } }) }} per kwartaal
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="button submit-button">Incasso bedrag aanpassen</button>
            {{ form_end(form, {render_rest: false}) }}

    </div>
{% endblock %}
