{% set pageTitle = 'Wachtwood opvragen' %}
{% extends 'user/layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/login.less') }}" />
{% endblock %}

{% block body %}
    <div id="center-form-wrapper">

        <img id="logo" src="{{ asset('assets/image/mijn-rood-jongeren.svg') }}" />

        <span class="center-form-title">
            Inloggegevens opvragen
        </span>

        <p>
            Als je wachtwoord vergeten bent, kun je hier een nieuwe aanvragen. Mocht dit niet lukken, neem dan contact op met je afdeling, of neem contact op met het landelijke bestuur.
        </p>

        {% if success %}
            <div class="error">
                Als je lidnummer of e-mailadres bekend is, zul je een bericht ontvangen met daarin een link om een nieuw wachtwoord in te stellen.
            </div>
        {% else %}
            {{ form_start(form) }}
                {{ form_widget(form.username, { attr: { class: 'text-input', placeholder: form.username.vars.label } }) }}

                <button class="submit-button" type="submit">Wachtwoord opvragen</button>
            {{ form_end(form) }}
        {% endif %}

        <a class="form-link" href="{{ url('login') }}">Inloggen</a>

        <a class="form-link" href="https://roodjongeren.nl">Terug naar de website</a>

    </div>
{% endblock %}
