{% set pageTitle = 'Wachtwood opvragen' %}
{% extends 'user/layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/login.less') }}" />
{% endblock %}

{% block body %}
    <div id="center-form-wrapper">

        <img id="logo" src="{{ asset('assets/image/mijn-rood-sp.svg') }}" />

        <span class="center-form-title">
            {{ hasPassword ? 'Nieuw wachtwoord instellen' : 'Wachtwoord instellen' }}
        </span>

        {% if form is not null %}
        <p>
            Bedenkt een sterk {{ hasPassword ? 'nieuw' : '' }} wachtwoord en voer het tweemaal in.
        </p>
        {% endif %}

        {% if success %}
            <div class="error">
                Je wachtwoord is {{ hasPassword ? 'opnieuw' : '' }} ingesteld. Je kunt nu inloggen.
            </div>
        {% else %}
            {% if error %}
                <div class="error">
                    {{ error }}
                    {% if errorLink %}
                        <a href="{{ errorLink[1] }}">{{ errorLink[0] }}</a>
                    {% endif %}
                </div>
            {% endif %}
            {% if form is not null %}
                {{ form_start(form) }}
                    {{ form_widget(form.password.first, { attr: { class: 'text-input'} }) }}
                    {{ form_widget(form.password.second, { attr: { class: 'text-input'} }) }}

                    <button class="submit-button" type="submit">Wachtwoord instellen</button>
                {{ form_end(form) }}
            {% endif %}
        {% endif %}

        <a class="form-link" href="{{ url('login') }}">Inloggen</a>

        <a class="form-link" href="https://roodjongindesp.nl">Terug naar de website</a>

    </div>
{% endblock %}
