<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/ico" href="{{ asset('assets/images/favicon.ico') }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ pageTitle is defined ? pageTitle | trans ~ ' • ' }}Ledensysteem {{ organisatienaam }}</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
</body>
</html>
