{% extends 'user/layout/base.html.twig' %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('members') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('members') }}
{% endblock %}

{% block body %}
    {% if not app.user.contributionPaidAutomatically and contributionEnabled %}
    <div id="nagbar">
        <span>Je hebt nog geen automatisch incasso ingesteld! Stel dit in op de <a href="{{ url('member_details') }}">gegevens</a> pagina.</span>
    </div>
    {% endif %}
    <div id="header">
        <div id="header-content-wrapper">
            <div id="header-content">
                <a href="/">
                    <img id="header-logo" src="{{ asset(orgLogo) }}" />
                </a>
                <input type="checkbox" id="show-header" />
                <label id="show-header-button" for="show-header"></label>
                <div id="header-menu">
                    <label id="hide-header-button" for="show-header"></label>
                    <ul>
                    {% for text, route in {
                        'Home': 'member_home',
                        'Gegevens': 'member_details',
                        'Documenten': 'member_documents',
                        'Ledenbeheer': 'admin_dashboard',
                        'Uitloggen': 'logout'
                    } %}
                    <li{% if app.request.attributes.get('_route') == route %} class="current"{% endif %}>
                        {% if route != "admin_dashboard" or ( route == "admin_dashboard" and (is_granted("ROLE_ADMIN") or is_granted("ROLE_DIVISION_CONTACT")) ) %}
                        <a href="{{ url(route) }}">{{ text }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">

    </div>
{% endblock %}
