{% set pageTitle = 'Inschrijven' %}
{% extends 'user/layout/login.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script>
        function updateContribution() {
            let other = document.querySelector('.other-amount');
            if (document.querySelector('.choice :checked').value != 0) {
                other.value = '';
            } else {
                other.value = 1;
            }
        }
        function updateOtherAmount() {
            let other = document.querySelector('.other-amount');
            if (other.value != '')
            {
                document.querySelector('.choice [value="0"]').checked = true;
            } else {
                other.value = 1;
            }
        }
        document.addEventListener('change', e => {
            if (e.target.closest) {
                if (e.target.closest('.other-amount')) {
                    updateOtherAmount();
                } else if (e.target.closest('.choices')) {
                    updateContribution();
                }
            }
        })
    </script>
{% endblock %}

{% block body %}
    <div id="center-form-wrapper" class="big-form">

        <img id="logo" src="{{ asset(orgLogo) }}" />

        <span class="center-form-title">
            Inschrijven bij <span class="rood">{{ orgnaamkort }}</span>
        </span>

        {% if form.vars.submitted and not form.vars.valid %}
            <div class="error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form) }}
            <div class="form-row">
                {{ form_label(form.firstName, 'Naam') }}
                <div class="form-field-group">
                    {{ form_widget(form.firstName, { attr: { class: 'text-input', placeholder: 'Voornaam' } }) }}

                    {% if useMiddleName %}
                        {{ form_widget(form.middleName, { attr: { class: 'text-input', placeholder: 'Tussenvoegsel' } }) }}
                    {% endif %}

                    {{ form_widget(form.lastName, { attr: { class: 'text-input', placeholder: 'Achternaam' } }) }}
                </div>
            </div>

            {{ form_row(form.email, { attr: { class: 'text-input' } }) }}
            {{ form_row(form.phone, { attr: { class: 'text-input' } }) }}
            {{ form_row(form.dateOfBirth, { attr: { class: 'text-input' } }) }}
            {{ form_row(form.address, { attr: { class: 'text-input' } }) }}
            {{ form_row(form.city, { attr: { class: 'text-input' } }) }}
            {{ form_row(form.postCode, { attr: { class: 'text-input' } }) }}
            {{ form_row(form.preferredDivision, { attr: { class: 'text-input' } }) }}

            <p>
                Bij {{ orgnaamkort }} hebben we contributie op basis van je bruto maandinkomen. Selecteer wat er voor jou van toepassing is:
            </p>
            <div class="choices">
                {% for option in form.contributionPerPeriodInCents.contributionAmount %}
                    <div class="choice">
                        {{ form_widget(option) }}
                        <div class="choice-text">
                            {{ form_label(option, null, { required: false }) }}
                            {% if option.vars.value == 0 %}
                                <br />
                                {{ form_widget(form.contributionPerPeriodInCents.otherAmount, { attr: { class: 'other-amount' } }) }} per kwartaal
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="checkbox">
                {{ form_widget(form.accept) }}
                {{ form_label(form.accept) }}
            </div>

            <button class="submit-button" type="submit">Naar betaling en automatisch incasso instellen</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
