<!DOCTYPE html>
<html>
<head>
<style>
@font-face {
    font-family: 'HelveticaNeueLTStd';
    src: url('{{ app.request.baseUrl ~ asset('assets/font/HelveticaNeueLTStd-Md.woff2') }}') format('woff2'),
        url('{{ app.request.baseUrl ~ asset('assets/font/HelveticaNeueLTStd-Md.woff') }}') format('woff'),
        url('{{ app.request.baseUrl ~ asset('assets/font/HelveticaNeueLTStd-Md.ttf') }}') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
</style>
</head>
<body style="font-family: 'HelveticaNeueLTStd'">
    <img style="width: 200px; display: block; margin: 0 auto" src="{{ absolute_url(asset('assets/image/logo.svg')) }}" />

    {% block content %}{% endblock %}

    <div style="color: #444">
        Deze e-mail werd automatisch verstuurd door het ledenadministratiesysteem van {{ organisatienaam }}.
        Mocht je vragen hebben, neem dan contact op met {{ organisatienaam }} via <a href="mailto:{{ organisatiemail }}">{{ organisatiemail }}</a>.
    </div>
</body>
</html>
