{% extends 'email/html/layout.html.twig' %}
{% set url = url('set_new_password', { token: member.newPasswordToken }) %}
{% block content %}
<p>
    Beste {{ member.firstName }} {{ member.lastName }},
</p>
<p>
    Je hebt in het ledenadministratiesysteem een verzoek gedaan om een nieuw wachtwoord in te stellen.
    Als je je niet kunt herinneren dat je dit gedaan hebt, kun je deze e-mail negeren.
</p>
<p>
    Klik hier om een nieuw wachtwoord in te stellen:
    <a href="{{ url }}">{{ url }}</a>
</p>
<p>
    Met vriendelijke groet,
</P>
<p>
    {{ afdelingsnaam }}
</p>

{% endblock %}
