{% extends 'email/html/layout.html.twig' %}
{% set url = url('set_new_password', { token: member.newPasswordToken }) %}
{% set division = member.division.name %}
{% block content %}
    <p>
        Beste {{ member.firstName }},
    </p>
    <p>
Recentelijk heb je het aanmeldingsformulier op https://mijn.socialisten.org/aanmelden/ ingevuld. Dit formulier geeft iedereen de mogelijkheid om lid te worden van onze organisatie.
Via deze mail heten wij je namens het landelijke Socialisten-bestuur hartelijk welkom in onze beweging. Wij zijn erg blij om te horen dat je je wil aansluiten bij één van de verenigingen of werkgroepen van Socialisten.
Je lidnummer is {{ member.id }}.
    </p>
    <p>
Je kunt een wachtwoord instellen voor mijn.socialisten.org, de ledenwebsite van de Socialisten, door op deze link te klikken: {{ url }}    </p>
    <p>
    <p>
Als socialistische vereniging houden we onze eigen broek omhoog en zijn we niet financieel afhankelijk van subsidie. Het is ons streven om alle socialisten te verenigen.
Omdat we nu formeel nog geen landelijke vereniging zijn heeft elke lokale vereniging of werkgroep zijn eigen contributieregeling. Jouw contributie gaat dan ook naar {{ division }}.
Op https://mijn.socialisten.org/ kun je, nadat je je wachtwoord hebt ingesteld, je contributie instellen. Op termijn zullen we, in overleg met de
plaatselijke verenigingen en werkgroepen de contributieregeling harmoniseren. We zullen je dan vragen je contributie aan te passen, indien nodig.
    </p>
<p>
De contributieregeling voor jouw vereniging/werkgroep is:
    </p>
{% if division == "Utrecht" %}
<ul>
<li>Werkenden: streefbedrag 0,5% netto inkomen, minimaal 12 euro per kwartaal.</li>

<li>Werklozen/studenten minimaal 6 euro per kwartaal.</li>
</ul>

{% elseif division == "Amsterdam" %}
<ul>
<li>15 euro per kwartaal (optioneel meer)</li>
</ul>
{% elseif division in ["Nijmegen", "Arnhem", "West-Brabant", "Rotterdam", "Wageningen", "Zuid-Holland-West"] %}
<p>Nog geen contributieregeling, in Utrecht hebben ze deze contributieregeling:</p>
<br>
<ul>
<li>Werkenden: streefbedrag 0,5% netto inkomen, minimaal 12 euro per kwartaal.</li>

<li>Werklozen/studenten minimaal 6 euro per kwartaal.</li>
</ul>

{% elseif division in ["Noord", "Overijssel"] %}
<ul>
<li>Minimaal 7,50 euro per kwartaal</li>
</ul>
{% elseif division == "Oost-Brabant" %}
<ul>
  <li>3, 9, 15, 30, 45 per kwartaal, met 15 euro als standaard.</li>
</ul>
{% endif %}
    <p>
      Het ledenbestand en de financiën wordt momenteel beheerd door de vereniging Socialisten Utrecht. We sturen wel een cc: van dit bericht naar {{ member.division.email }} zodat ze contact met je kunnen opnemen.
    </p>
    <p>
Onze nieuwe beweging heeft actieve leden nodig. Geef het aan als je actief wilt worden.
    </p>
    <ul>
<li>Kijk op de pagina https://socialisten.org/mee-doen/ en vul de ledenenquête in. De lokale vereniging/werkgroep neemt sowieso contact met je op om je beter te leren kennen.</li>
<li>Neem deel aan het landelijke forum van Socialisten.org. Via deze link krijg je een uitnodigingsmail voor het forum: <a href="{{forumUrl}}">{{ forumUrl }}</a></li>
    </ul>
        Kameraadschappelijke groet,
    </p>
    <p>
        Het Socialistenbestuur
    </p>
{% endblock %}
