{% extends 'email/html/layout.html.twig' %}
{% set url = url('set_new_password', { token: member.newPasswordToken }) %}
{% block content %}
    <p>
        Beste {{ member.firstName }},
    </p>
    <p>
Recentelijk heb je als het goed is het aanmeldingsformulier van {{ organisatienaam }} ingevuld. Via deze mail heten wij je namens het bestuur van {{ organisatienaam }} hartelijk welkom in onze organisatie. Wij zijn erg blij om te horen dat je je wil aansluiten bij de de meest linkse en radicale jongerenorganisatie van Nederland. Je lidnummer is {{ member.id }}.
    </p>
    <p>
Als onafhankelijke socialistische jongerenorganisatie houden we onze eigen broek omhoog en zijn we niet financieel afhankelijk van een partij. Het is onze missie om socialistische jongeren een plek te bieden in een jongerenorganisatie. Op dit moment bieden wij verschillende mogelijkheden aan om actief te worden bij {{ organisatienaam }}:
    </p>
    <p>
        Je kunt een wachtwoord instellen voor de ledenwebsite van {{ organisatienaam }}, door op deze link te klikken:
        <a href="{{ url }}">{{ url }}</a>
    </p>
    <p>
        Groetjes,
    </p>
    <p>
        Het bestuur van {{ organisatienaam }}
    </p>
    <p>
        P.S. Wil jij geen lid worden van {{ organisatienaam }}? Neem dan contact op met het bestuur via <a href="mailto:{{ organisatiemail }}">{{ organisatiemail }}</a>. Om op de hoogte te blijven van de ontwikkelingen rondom {{ organisatienaam }}, check <a href="https://{{ organisatiewebsite }}">https://{{ organisatiewebsite }}</a>.
    </p>
{% endblock %}
