{% extends 'email/html/layout.html.twig' %}
{% block content %}
<p>Beste {{ supportMember.firstName }},</p>

<p>Van harte bedankt voor je aanmelding als steunlid. {{ afdelingsnaam }} kan deze steun goed gebruiken. Als onafhankelijke socialistische jongerenorganisatie zijn we volledig afhankelijk van de contributie van leden en donaties van donateurs. Als steunlid ben je een van onze vaste donateurs.</p>

<p>We zullen je op de hoogte houden van {{ afdelingsnaam }}-activiteiten middels een nieuwsbrief en kijken wat we onze steunleden nog meer kunnen bieden. Als {{ afdelingsnaam }} weer eigen merchandise heeft willen we deze ook aan steunlieden bieden.</p>

<p>Kameraadschappelijke groet,</p>

<p>Het bestuur van {{ afdelingsnaam }}</p>
{% endblock %}
