{% set pageTitle = 'Persoonlijke gegevens' %}
{% extends 'user/layout/members.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/details.less') }}" />
{% endblock %}

{% block content %}
    <div class="main-content" id="main-content-details">
        <div class="details">
            <h1>Mijn gegevens</h1>

            {% if success %}
            <div class="message message-success">
                <p>
                    Je gegevens zijn succesvol bijgewerkt.
                </P>
            </div>
            {% endif %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="form-row">
                {{ form_label(form.id, 'Lidnummer') }}
                {{ form_widget(form.id, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.firstName, 'Naam') }}
                {{ form_widget(form.firstName, { attr: { class: 'text-input', placeholder: 'Voornaam' }}) }}
                {{ form_widget(form.lastName, { attr: { class: 'text-input', placeholder: 'Achternaam' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.email, 'E-mailadres') }}
                {{ form_widget(form.email, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.phone, 'Telefoonnummer') }}
                {{ form_widget(form.phone, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.address, 'Adres') }}
                {{ form_widget(form.address, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.dateOfBirth, 'Geboortedatum') }}
                {{ form_widget(form.dateOfBirth, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.city, 'Plaats') }}
                {{ form_widget(form.city, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.postCode, 'Postcode') }}
                {{ form_widget(form.postCode, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.division, 'Afdeling') }}
                {{ form_widget(form.division, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.comments, 'Extra informatie') }}
                {{ form_widget(form.comments, { attr: { class: 'text-input' }}) }}
            </div>

            <button type="submit" class="button">Opslaan</button>

            {{ form_end(form) }}

            <h3>Wachtwoord wijzigen</h3>

            {% if successPassword %}
            <div class="message message-success">
                <p>
                    Je wachtwoord is gewijzigd.
                </p>
            </div>
            {% endif %}

            {{ form_start(formPassword) }}

            {{ form_errors(formPassword) }}

            <div class="form-row">
                {{ form_label(formPassword.currentPassword) }}
                {{ form_widget(formPassword.currentPassword, { attr: { class: 'text-input' } }) }}
            </div>

            <div class="form-row">
                {{ form_label(formPassword.newPassword.first) }}
                {{ form_widget(formPassword.newPassword.first, { attr: { class: 'text-input' } }) }}
            </div>

            <div class="form-row">
                {{ form_label(formPassword.newPassword.second) }}
                {{ form_widget(formPassword.newPassword.second, { attr: { class: 'text-input' } }) }}
            </div>

            <button type="submit" class="button">Wachtwoord wijzigen</button>

            {{ form_end(formPassword) }}
        </div>
    </div>
{% endblock %}
