{% set pageTitle = 'Persoonlijke gegevens' %}
{% extends 'user/layout/members.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/details.less') }}" />
{% endblock %}

{% block content %}
    <div class="main-content" id="main-content-details">
        <div class="details">
            <h1>Mijn gegevens</h1>

            {% if success %}
            <div class="message message-success">
                <p>
                    Je gegevens zijn succesvol bijgewerkt.
                </P>
            </div>
            {% endif %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="form-row">
                {{ form_label(form.id, 'Lidnummer') }}
                {{ form_widget(form.id, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.firstName, 'Naam') }}
                {{ form_widget(form.firstName, { attr: { class: 'text-input', placeholder: 'Voornaam' }}) }}
                {{ form_widget(form.lastName, { attr: { class: 'text-input', placeholder: 'Achternaam' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.email, 'E-mailadres') }}
                {{ form_widget(form.email, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.phone, 'Telefoonnummer') }}
                {{ form_widget(form.phone, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.address, 'Adres') }}
                {{ form_widget(form.address, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.city, 'Plaats') }}
                {{ form_widget(form.city, { attr: { class: 'text-input' }}) }}
            </div>

            <div class="form-row">
                {{ form_label(form.postCode, 'Postcode') }}
                {{ form_widget(form.postCode, { attr: { class: 'text-input' }}) }}
            </div>

            <button type="submit" class="button">Opslaan</button>

            {{ form_end(form) }}

            <h3>Wachtwoord wijzigen</h3>

            {% if successPassword %}
            <div class="message message-success">
                <p>
                    Je wachtwoord is gewijzigd.
                </p>
            </div>
            {% endif %}

            {{ form_start(formPassword) }}

            {{ form_errors(formPassword) }}

            <div class="form-row">
                {{ form_label(formPassword.currentPassword) }}
                {{ form_widget(formPassword.currentPassword, { attr: { class: 'text-input' } }) }}
            </div>

            <div class="form-row">
                {{ form_label(formPassword.newPassword.first) }}
                {{ form_widget(formPassword.newPassword.first, { attr: { class: 'text-input' } }) }}
            </div>

            <div class="form-row">
                {{ form_label(formPassword.newPassword.second) }}
                {{ form_widget(formPassword.newPassword.second, { attr: { class: 'text-input' } }) }}
            </div>

            <button type="submit" class="button">Wachtwoord wijzigen</button>

            {{ form_end(formPassword) }}
        </div>

        <div class="contributions">
            <h1>Contributie</h1>

            {% if app.user.contributionPaidAutomatically %}
                <p>
                    Je contributie wordt elk{{ { 0: 'e maand', 1: ' kwartaal', 2: ' jaar'}[app.user.contributionPeriod] }} automatisch per automatische incasso afgeschreven via Mollie.
                </p>

                <a class="action-link" href="{{ url('member_contribution_automatic_collection') }}">Automatische incasso stopzetten</a>
            {% else %}
                {% if app.user.contributionCompleted(date()) %}
                    <p>
                        Je contributie voor {{ { 0: 'deze maand', 1: 'dit kwartaal', 2: 'dit jaar' }[app.user.contributionPeriod] }} is betaald.
                    </p>
                {% endif %}

                <p>
                    Je hebt nog geen automatisch incasso ingesteld, dit is nodig om je contributie te betalen en lid te blijven.
                </p>

                <a class="button" href="{{ url('member_contribution_automatic_collection') }}">Contributiebetaling instellen</a>

                <p>
                    <strong>Let op:</strong> Door een contributiebetaling te doen, ga je ermee akkoord dat we je naam en e-mailadres delen met onze betaalprovider <a style="color:#E40613" href="https://mollie.com" target="_blank">Mollie</a>.
                </p>
                
            {% endif %}
            {# <a class="action-link" href="{{ url('member_contribution_preferences') }}">Contributievoorkeuren wijzigen</a> #}

            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Bedrag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contributionPayment in app.user.paidContributionPayments[:5] %}
                        <tr>
                            <td>{{ contributionPayment.paymentTime|format_date('long') }}</td>
                            <td>{{ contributionPayment.amountInCents|format_price }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Er zijn nog geen contributiebetalingen geregistreerd.</td>
                        </tr>
                    {% endfor %}
                    {% if app.user.paidContributionPayments|length > 5 %}
                        <tr>
                            <td colspan="2">En nog {{ app.user.paidContributionPayments|length - 5 }} andere...</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
