{% extends 'user/layout/members.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('documents') }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('documents') }}
{% endblock %}

{% block content %}
    <div class="main-content">
        <h1><span class="rood">{{ organisatienaam }}</span></h1>
        <p>
            Dit is de interne website van {{ organisatienaam }}.
            Hier kun je je lidmaadschapsgegevens aanpassen, je contributie betalen, en relevante documenten raadplegen.
        </p>

        <h2>Aankomende <span class="rood">evenementen</span></h2>
        {% for event in events %}
            <div class="event">
                <div class="event-image">
                </div>
                <div class="event-info">
                    <span class="event-name">{{ event.name }}</span>
                    <span class="event-date">
                        {{ event.timeStart|format_date('medium') }}
                        {% if not event.startsAndEndsOnSameDay %}
                            - {{ event.timeEnd|format_date('medium') }}
                        {% endif %}
                    </span>
                    <span class="event-division">Georganiseerd door {{ event.division is null ? organisatienaam : event.division.name }}</span>
                    <span class="event-description">{{ event.description|raw }}</span>
                    {# <a href="{{ url('member_event') }}">Lees meer</a> #}
                </div>
                <div class="event-attendance">
                    {% if member.hasReserved(event) != true %}
                    <span class="reserve" data="{{event.id}}">
                        <i class="fa fa-fw fa-plus"></i>
                        Aanmelden
                    </span>      
                    {% else %}
                    <span class="dereserve" data="{{event.id}}">
                        <i class="fa fa-fw fa-times"></i>
                        Afmelden
                    </span>
                    {% endif %}
                    {% if isAdmin %}
                        <a href="{{ url('event_inchecker', { eventId: event.getId() }) }}" class="btn-upload">
                            Personen inchecken
                            <i class="fa fa-fw fa-external-link"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            Er staan nog geen evenementen op de planning.
        {% endfor %}
    </div>
{% endblock %}
