{% set pageTitle = 'Privacybeleid' %}
{% extends 'user/layout/login.html.twig' %}

{% block body %}
    <div id="center-form-wrapper">

        <img id="logo" src="{{ asset(orgLogo) }}" />

        <span class="center-form-title">
            Privacybeleid
        </span>

        {% if form.vars.submitted and not form.vars.valid %}
            <div class="error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.acceptUsePersonalInformation) }}

            <button class="submit-button" type="submit">
                Verder
            </button>
        {{ form_end(form) }}

        <a class="form-link" href="https://{{ organisatiewebsite }}">Terug naar de website</a>

    </div>
{% endblock %}
