{% set pageTitle = 'Privacybeleid' %}
{% extends 'user/layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/login.less') }}" />
{% endblock %}

{% block body %}
    <div id="center-form-wrapper">

        <img id="logo" src="{{ asset('assets/image/mijn-rood-sp.svg') }}" />

        <span class="center-form-title">
            Privacybeleid
        </span>

        {% if form.vars.submitted and not form.vars.valid %}
            <div class="error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.acceptUsePersonalInformation) }}

            <button class="submit-button" type="submit">
                Verder
            </button>
        {{ form_end(form) }}

        <a class="form-link" href="https://roodjongindesp.nl">Terug naar de website</a>

    </div>
{% endblock %}
